
@font-face {
  font-family: "Moderniz";
  src: url("/fonts/moderniz.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  color: ghostwhite;
}

:root {
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(19, 11, 46);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 90%;
  --blending: hard-light;
  --primary-font: "Moderniz", sans-serif;
  --secondry-font: "Helvetica Now Display", sans-serif;
}

/* BACKGROUND ANIMATIONS */
/* @keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
} */

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  overflow: hidden;
  background: linear-gradient(40deg, #0e1010, var(--color-bg2));
  top: 0;
  left: 0;

  .noise-filter-svg {
    position: absolute;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.4) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 25s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.4) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 30s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.4) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 30s linear infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 40%
      )
      no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Moderniz";
  ul {
    display: flex;
    list-style: none;
    gap: 3vw;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 0.7vw;
  }
  a:hover {
    mix-blend-mode: normal;
  }
  .logo {
    font-size: 1.5vw;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 6%; */
  height: fit-content;
  width: 100%;
}

.hero-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.5% 4% 0.8% 4%;
}

.hero-h1 {
  font-family: var(--primary-font);
  width: 70%;
  text-align: center;
  font-size: 5vw;
  mix-blend-mode: overlay;
  /* margin-top: -5%; */
}

.hero-h1::selection {
  background-color: #f0ffff6c;
}

.hero p {
  font-family: var(--secondry-font);
  font-size: 1.3vw;
  width: 50%;
  text-align: center;
  font-weight: 400;
  color: #d1d1d1;
  mix-blend-mode: color-dodge;
}

.hero p::selection {
  background-color: #f0ffff27;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  a {
    text-decoration: none;
    font-family: var(--secondry-font);
    color: #d1d1d1;
  }
  a:hover {
    mix-blend-mode: color-dodge;
  }
  .links-list {
    display: flex;
    gap: 1.5vw;
  }
}

.hero-showcase {
  display: flex;
  /* margin-top: 2vw; */
  /* gap: .2vw; */
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  font-family: var(--secondry-font);
  h3 {
    font-size: 0.9vw;
    font-weight: 500;
    width: 70%;
  }
  p {
    width: 60%;
    font-size: 0.8vw;
    font-weight: 400;
    text-transform: capitalize;
  }
  .about-showcase,
  .availibility-showcase {
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
    width: fit-content;
  }
}

.scroll-arrow {
  align-self: flex-end;
  margin-left: auto; /* Move to the right */
}

.about-section {
  font-family: var(--secondry-font);
  padding: 0 4vw 0 4vw;
  margin-top: 4vw;

  h3 {
    font-size: 4vw;
    font-weight: 400;
    width: 75%;
    mix-blend-mode: normal;
    /* opacity: 1; */
  }

  .about-myself {
    width: fit-content;
    p {
      margin-top: 3vw;
      font-family: var(--secondry-font);
      font-size: 1.3vw;
      width: 50%;
      font-weight: 400;
      color: #f8f8ff;
    }
  }

  .myself-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .myself-text > h4{
    font-size: 1.2vw;
    font-weight: 600;
    text-transform: uppercase;
    color: #f8f8ff;
    width: 75%;
  }

  .hero-img{
    background-color: aqua;
    border-radius: 50%;
    background-image: url(/hero-image.png);
    background-position: center;
    background-size: contain;
    width: 4.9vw;
    height: 4.9vw;
  }
  .about-myself-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1vw;
    font-family: var(--secondry-font);
    font-size: .9vw;
    font-weight: 500;
    width: 50%;
    color: #c5c5c6;
  }
}

.cta-button-wrapper {
  margin-top: 1vw;
  font-family: var(--primary-font);
  background: none;
  border: none;
  color: #ffff;

  .cta-button {
    text-decoration: none;
    color: #ffff;
  }
}
.about-button-wrapper {
  margin-top: .5vw;
  font-family: var(--primary-font);
  background: none;
  border: none;
  color: #ffff;

  .about-button {
    text-decoration: none;
    color: #ffff;
  }
}

.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: .5vw 0px;
  margin: 0px 3px 6px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  z-index: 0;
}

.hb-fill-right::before {
  position: absolute;
  content: "";
  background: rgb(255, 255, 255);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 0px;
  height: 100%;
  opacity: 1;
}

.hb-fill-right:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hb-fill-right:hover {
  padding: .5vw 1vw;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: color 0.3s, background 0.3s;
  transition: padding 0.3s ease-in-out;
}


.works-section{
  width: 100%;
  padding: 0 4vw 0 4vw;
  margin-top: 7vw;
}

.work-heading-wrapper{
  overflow: hidden;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.works-heading{
  font-size: 5vw;
  font-family: var(--primary-font);
}

.work-heading-wrapper p {
  margin-top: 1.5vw;
  font-family: var(--secondry-font);
  font-size: 1.3vw;
  width: 50%;
  font-weight: 400;
  color: #f8f8ff;
  text-align: end;
  opacity: 0.8;
  margin-bottom: 7vw;
}

.work-cards{
  display: flex;
  flex-direction: column;
}
.work-card{
  margin: 1vw 0;
}
.card-right{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  align-self: flex-end;
}
.card-left{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: fit-content;
}

.work-name{
  font-family: var(--primary-font);
  font-size: 1.5vw;
  margin-bottom: .5vw;
}

.work-name a{
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  color: #f8f8ff;
}

.work-card img{
  width: 40vw;
}

.work-card p{
  font-family: var(--secondry-font);
  font-size: 1vw;
  font-weight: 400;
  color: #f8f8ff;
  text-align: end;
  margin-top: .5vw;
}

.works-link-cursor{
  position: fixed;
  pointer-events: none;
  /* visibility: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  background: #9e9e9e;
  z-index: 10;
  opacity: .9;
  /* filter: sepia(0.5); */

  span{
    font-size: 1vw;
    font-family: var(--secondry-font);
    color: #f8f8ff;
  }

  svg{
    width: 1vw;
    height: .8vw;
    fill: #f8f8ff;
  }
}

.text{
  font-size: xx-large;
  font-family: var(--primary-font);
}


.mf-cursor-text {
  color: #0e1010;
  font-family: var(--secondry-font); /* Default color */
}
