@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app{
  height: 100%;
  width: 100%;
  color: ghostwhite;
  }

/* .background{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0E1010;
} */
:root {
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(19, 11, 46);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 90%;
  --blending: hard-light;
}

/* @keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
} */


.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  overflow: hidden;
  background: linear-gradient(40deg, #0E1010, var(--color-bg2));
  top: 0;
  left: 0;

  .noise-filter-svg{
    position: absolute;
  }

.gradients-container {
  filter: url(#goo) blur(40px) ;
  width: 100%;
  height: 100%;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.4) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;

  opacity: 1;
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.4) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;

  opacity: 1;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.4) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);

  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;

  opacity: 1;
}


.interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), .5) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;

  opacity: 0.7;
}
}

header{
  display: flex;
  padding: 1.5% 2%;
  justify-content: space-between;
  align-items: center;
  font-family: 'Moderniz';
  .nav-menu{
    display: flex;
    list-style: none;
    gap: 3vw;
  }


  a{
    text-decoration: none;
    color: white;
    font-size: xx-small;
  }
}


.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  height: fit-content;
  width: 100%;
}

/* .hero-image{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Open Sans'; 
}

.hero-img-wrapper{
  height: 8vw;
  width: 8vw;
  background-image: url(public/hero_profile.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: auto;
}

.availablity-badge{
  display: flex;
  align-items: center;
  position: absolute;
  left: -18%;
  top: 78%;
  justify-content: center;
  background-color: #0E1010;
  color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: .7vw .9vw;
  font-weight: 400;
  gap: .7vw;
  font-size: .9em;
  border-radius: 2vw;
  width: max-content;
} */

